
@page "/auth"

<div class="d-flex align-items-center justify-content-center ">
    <MudPaper Elevation="0" Width="400px">
        
            <MudForm @ref="Form" Class="d-flex flex-column">
                <div class="d-flex flex-column  align-items-center justify-content-center ">
                    <img src="/images/logo.png" class="mb-14" width="300px" />

                    <MudText Typo="Typo.h3" Class="mb-7">Please sign in</MudText>
                </div>
                <MudTextField Variant="Variant.Outlined" @bind-Value="Email" InputType="@InputType.Email" InputMode="@InputMode.email" Label="Email Address"></MudTextField>
                <MudTextField Variant="Variant.Outlined" InputType="@InputType.Password" @bind-Value="Password" Label="Password"></MudTextField>
                <MudCheckBox @bind-Checked="@IsRemember" Label="Remember me"></MudCheckBox>
                <MudButton Color="Color.Primary" Variant="Variant.Filled" FullWidth="true">Sign in</MudButton>

            </MudForm>
            
       
    </MudPaper>
</div>

@code {
    public MudForm Form { get; set; }
    public string Email { get; set; }
    public string Password { get; set; }
    public bool IsRemember { get; set; }
}
