@inherits LayoutComponentBase

<div class="page">
    
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <MudLink Href="https://docs.microsoft.com/aspnet/" Underline="Underline.None">About</MudLink>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
<MudThemeProvider IsDarkMode=false />
<MudDialogProvider />
<MudSnackbarProvider />