@inherits LayoutComponentBase
@inject IDialogService DialogService

<Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>


    <AuthorizeView>

        <Authorized>
            <div class="page">



                <div class="sidebar">
                    <NavMenu />
                </div>

                <div class="main">

                    <div class="top-row px-4">
                        <AuthorizeView Context="AppointView" Roles="Trainer">

                            <MudButton Color="Color.Primary" OnClick="AppointTask" Class="mr-5" >
                                Appoint task
                            </MudButton>
                        </AuthorizeView>

                        <LoginDisplay />
                    </div>

                    <div class="content px-4">
                        @Body
                    </div>
                </div>

            </div>
        </Authorized>
        <NotAuthorized>
            <div class="main">
                <div class="content px-4">
                    <Login />
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code {
    public async Task AppointTask()
    {
        var options = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true };
        var dialog = DialogService.Show<Pages.Dialogs.TaskAssignment>("Task assignment", options);
        var result = await dialog.Result;

    }
}